[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Install Bridge Linux
Comment=
Exec=terminator -x sudo mtinstall
Icon=drive-harddisk
StartupNotify=false
Terminal=false
Hidden=false

